<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ instance.country }}</title>
</head>
<body>
<h1>{{ instance.country}}  </h1>
<div>
    <p> {{ instance.wine_label}}</p>
    <p> {{ instance.wine_sort}}</p>
    <p> Создан  {{ instance.timestamp }} обновлен {{ instance.updated }} </p>
</div>
</body>
</html>