<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ country }}</title>
</head>
<body>
<h1>{{ country }}</h1>
{% for i in queryset %}
<div>
    <a href="/cat_detail/{{ i.id }}"><h2> {{ i.country }}</h2></a>
    <p><i> {{ i.wine_label }}</i></p>
</div>
{% endfor %}
</body>
</html>